@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

body {
  font-family: 'Open Sans', sans-serif;
  background: url("../images/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li a.nav-link {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400 !important;
}
.navbar-css {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.63);
}
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.4);
  /* background-color: rgba(255, 255, 255, 0.15); */
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}


.poqiwehfoiwef{
    backdrop-filter: blur(10px);
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.6);
}

/* Card Css */
*:hover{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
section{
    float:left;
    width:100%;
    padding:30px 0;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}

/*Profile Card 5*/
/* .media.content-section.container{
  display: flex;
  justify-content: center;
} */

.row.container.css {
  gap: 15px;
  justify-content: space-around;
}

.profile-card-5{
  width: 410px;
  color:#ffffff;
  margin-top:50px;
  backdrop-filter: blur(5px);
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.8);
  /* box-shadow: 0 0 40px rgba(0,0,0,0.23); */
  box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.73);
  
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    /* width: 50%; */
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.profile-card-5 .card-img-block img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius:50%;
    box-shadow: 0 0 50px rgba(0,0,0,0.93);
}

.profile-card-5 .card-img-block.only-on-profile img{
  height: 180px;
  width: 180px;
}

.profile-card-5 .card-img-block-blog-image{
    margin: 0 auto;
    position: relative;
    top: -30px;
}

#id-card-img-block-blog-image {
  /* max-height: 240px; */
  max-width: 360px !important;
  object-fit: cover;
  border-radius:5px;
  box-shadow: 0 0 50px rgba(0,0,0,0.93);
}

.profile-card-5 h5{
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}

#card-text-home{
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden; */
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 270px; 
  white-space: nowrap;
}

#card-text-detail{
  overflow: auto;
}

i:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  transform: scale(1.1);
  /* color: #8e8e8e !important; */
}
