{% extends 'blog/base.html' %} 
{% block content %}
<section>
    <article class="media content-section container d-flex justify-content-center">
    	<div class="row container css">
            <div class="card profile-card-5 col-md-4">
               <h2 class="text-center mt-2">About</h2>
               <hr class="text-light">
               <p class="fs-5">This is a <a href="https://github.com/MSKose">@MSKose</a> production</p>
            </div>
        </div>
    </article>
</section>
{% endblock content %}