
{% extends 'blog/base.html' %} 
{% block content %}


<section>
    <article class="media content-section container d-flex justify-content-center">
    	<div class="row container css">
            {% for post in posts %}
                    <div class="card profile-card-5 col-md-4">
                        <div class="card-img-block">
                            <img class="card-img-top" src="{{post.author.profile.image.url}}" alt="Card image cap">
                        </div>

                        <div class="card-body pt-0">
                            <div class='d-flex justify-content-center'>
                                <h2 class="card-title">{{ post.author }}</h2>
                            </div>
                            <h4><a class="article-title decoration-none" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h4>
                            <p class="card-text">{{ post.content }}</p>
                            <div>
                                <div style="display: inline; margin-right: 15px;">
                                    <i class="fa-solid fa-comment"></i> <small>0</small>
                                </div>

                                <div style="display: inline; margin-right: 7px;">
                                    <i class="fa-solid fa-eye"></i> <small>{{post.blog_view}}</small>
                                </div>

                                {% include "blog/likes_area.html" %}

                                

                                {% comment %} <div style="display: inline">
                                    <i class="fa-solid fa-heart"></i> <small>8</small>
                                </div> {% endcomment %}
                            </div>
                            <small class="text-muted">Posted {{ post.date_posted|timesince }} ago</small>
                        </div>
                    </div>
                    
            {% endfor %}
        </div>
    </article>
</section>

{% endblock content %}
