<div class="list-group list-group-horizontal btn-group" id="hey{{post.id}}" role="group" style="display: inline">
    <button hx-post="{% url 'like_post' post.id %}" id="like-button" 
        hx-target="#hey{{post.id}}" hx-swap="outerHTML" style="background-color: transparent; border: none;">
        {% if request.user in post.likes.all %}
            <i class="fa-solid fa-heart" style="color: red;"></i> 
        {% else %}
            <i class="fa-solid fa-heart" style="color: white;"></i> 
        {% endif %}
        <small style="color: white;">{{ post.likes.count }}</small>
    </button>
</div>