
{% extends 'blog/base.html' %} 
{% block content %}


<section>
    <article class="media content-section container d-flex justify-content-center">
    	<div class="row container css">
            <div class="card profile-card-5 col-md-4">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{post.author.profile.image.url}}" alt="Card image cap">
                </div>

                <div class="card-body pt-0">
                    <div class='d-flex justify-content-center'>
                        <h2 class="card-title">{{ post.author }}</h2>
                    </div>
                    <h4 class="article-title decoration-none">{{ post.title }}</h4>
                    <p class="card-text">{{ post.content }}</p>
                    <div>
                        <div style="display: inline; margin-right: 15px;">
                            <i class="fa-solid fa-comment"></i> <small>{{post.blog_comment}}</small>
                        </div>

                        <div style="display: inline; margin-right: 7px;">
                            <i class="fa-solid fa-eye"></i> <small>{{post.blog_view}}</small>
                        </div>

                        {% include "blog/likes_area.html" %}
                        {% comment %} <div style="display: inline">
                            <i class="fa-solid fa-heart"></i> <small>{{post.likes.count}}</small>
                        </div> {% endcomment %}
                    </div>
                    <small class="text-muted">Posted {{ post.date_posted|timesince }} ago</small>
                    

                    <div class="d-flex gap-2 flex-row-reverse mt-2">
                        {% if post.author == user %}
                            <a class="btn btn-danger" href="{% url 'post-delete' post.pk %}">Delete</a>
                            <a class="btn btn-secondary" href="{% url 'post-update' post.pk %}">Update</a>
                        {% endif %}
                    </div>

                    <hr class='text-light'>
                    
                    {% comment %} {% if not post.comments.all %}
                        No comments yet... <a href="#" class="text-decoration-none">add one</a>
                    {% else %} {% endcomment %}
                    
                    
                    <form action="" method="POST">
                        {% csrf_token %}
                        <textarea name="body" 
                        class="form-control" 
                        id="{{post.user.id}}" autofocus
                        {% if not post.comments.all %}
                            placeholder="No comment yet... add one" ></textarea>
                        {% else %}
                            placeholder="Leave a comment here" ></textarea>
                        {% endif %}
                            
                        <button type="submit" class="btn btn-success mt-2">Add</button>
                        <hr>
                    </form>
                    <h4>Comments</h4>
                    <hr class='text-light'>

                        
                        {% for comment in comments %}
                        <div class='border rounded p-2 pb-0 mb-2 mt-2'>
                            <div class='border-bottom border-secondary p-2 mb-1'>
                                {{comment.user}} - <small class='text-secondary'>{{comment.date_added|timesince}} ago</small>
                            </div>
                            <p>{{comment.body}}</p>
                        </div>
                            
                        {% endfor %}
                </div>
            </div>
        </div>
    </article>
</section>

{% endblock content %}
