
{% extends 'blog/base.html' %} 
{% block content %}


<section>
    <article class="media content-section container d-flex justify-content-center">
    	<div class="row container css">
            <div class="card profile-card-5 col-md-4">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{object.author.profile.image.url}}" alt="Card image cap">
                </div>

                <div class="card-body pt-0">
                    <div class='d-flex justify-content-center'>
                        <h2 class="card-title">{{ object.author }}</h2>
                    </div>
                    <h4 class="article-title decoration-none">{{ object.title }}</h4>
                    <p class="card-text">{{ object.content }}</p>
                    <div>
                        <div style="display: inline; margin-right: 15px;">
                            <i class="fa-solid fa-comment"></i> <small>0</small>
                        </div>

                        <div style="display: inline; margin-right: 15px;">
                            <i class="fa-solid fa-eye"></i> <small>56</small>
                        </div>

                        <div style="display: inline">
                            <i class="fa-solid fa-heart"></i> <small>8</small>
                        </div>
                    </div>
                    {% comment %} <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> {% endcomment %}
                    <small class="text-muted">Posted {{ object.date_posted|timesince }} ago</small>
                </div>
            </div>
        </div>
    </article>
</section>

{% endblock content %}
