
{% extends 'blog/base.html' %} 
{% block content %}


<section>
    <article class="media content-section container d-flex justify-content-center">
    	<div class="row container css">
            <div class="card profile-card-5 col-md-4">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{object.author.profile.image.url}}" alt="Card image cap">
                </div>

                <div class="card-body pt-0">
                    <div class='d-flex justify-content-center'>
                        <h2 class="card-title">{{ object.author }}</h2>
                    </div>
                    <h4 class="article-title decoration-none">{{ object.title }}</h4>
                    <p class="card-text">{{ object.content }}</p>
                    <div>
                        <div style="display: inline; margin-right: 15px;">
                            <i class="fa-solid fa-comment"></i> <small>0</small>
                        </div>

                        <div style="display: inline; margin-right: 7px;">
                            <i class="fa-solid fa-eye"></i> <small>{{object.blog_view}}</small>
                        </div>

                        {% include "blog/likes_area.html" %}
                        {% comment %} <div style="display: inline">
                            <i class="fa-solid fa-heart"></i> <small>{{object.likes.count}}</small>
                        </div> {% endcomment %}
                    </div>
                    <small class="text-muted">Posted {{ object.date_posted|timesince }} ago</small>
                    <br>

                    <div class="d-flex gap-2 flex-row-reverse">
                        {% if object.author == user %}
                            <a class="btn btn-danger" href="{% url 'post-delete' object.pk %}">Delete</a>
                            <a class="btn btn-secondary" href="{% url 'post-update' object.pk %}">Update</a>
                        {% endif %}
                    </div>

                    <hr class='text-light'>
                    <h4>Comments</h4>
                    
                    {% if not post.comments.all %}
                        No comments yet... <a href="#">Add one</a>
                    {% else %}
                        
                        {% for comment in post.comments.all %}
                        <div>
                            <div>
                                {{user.username}} - {{comment.date_added|timesince}}
                            </div>
                            <p>{{comment.body}}</p>
                        </div>
                            
                        {% endfor %}
                            
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </article>
</section>

{% endblock content %}
